:root { /* Zugriff auf den Inhalt von <html> also auf die komplette index.html */
    --green: #00FF00; /* definition einer Variablen mit -- */
    --white: #FFFFFF; /* definition einer Farbe in Hexadezimal #. . . . . .  */
    --black: #000000;
}

body { /* Diese Atribute gelten fuer das gesamte Body-element */
    font-family: helvetica;
    color: var(--fontColor);
    background: var(--bg);
}


/* ul { /* zugriff auf ALLE ul elemente in index.html
    font-family: helvetica; /* Das Listenelement bekommt die Schriftart "helvetica" und ueberschreibt somit "monospace"
} */


li { /* zugriff auf ALLE li elemente in index.html  */
    list-style: circle; /* die einzelnen Zeilen der Liste beginnen mit einem Punkt */
  }
  
  
.list { /* zugriff mit . selector auf die klasse "list" */
    list-style: square; /* Alle Zeilen mit der Klasse "list" werden ueberschrieben und beginnen mit einem Viereck */
  }
  
  
/* #msg { /* zugriff  mit # selector auf die id "msg"
    font-family: monospace; /* die Ueberschrift der Liste bekommt die Schriftart "monospace", ueberschreibt somit erneut "helvetia"
  } */

/* ------------------SPEZIFITAET------------------

Bei CSS spielt die Reihenfolge tatsaechlich eine Rolle, daher sollten Themes immer ganz unten angehangen werden.
Sonst koennte es ein, dass das Theme von einer Regel ueberschrieben wird. Zu unterst kann das nicht passieren.*/


.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }


.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}


.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}